/* Main StyleSheet*/
* {
  box-sizing: border-box;
}

body{
  background-image:url(../images/bg.jpg);
  background-size: 75%;
  background-repeat:no-repeat;
  background-position:center;



}
.facebook {
  padding:10px 14px 7px 14px;
  background-color:rgb(69,89,149);
  height: 60px;
  width: 60px;
  display: inline-block;

}
.rss {
  padding:10px 12px 7px 12px;
  background-color: rgb(203,143,60);
  height: 60px;
  width: 60px;
  display: inline-block;
}
.twitter {
  padding:10px 10px 7px 10px;
  background-color: rgb(107,142,197);
  height: 60px;
  width: 60px;
  display: inline-block;
}
.youtube {
  padding:10px 12px 7px 11px;
  background-color: rgb(176,57,49);
  height: 60px;
  width: 60px;
  display: inline-block;
}
.navLink {
  display: inline-block;
  background-color: rgb(177,43,50);
  width: 245px;
  height:42px;
  text-transform: uppercase;
  border-bottom: rgba(255,255,255,0.4);
}
.photographer {
  width: 1024px;
  height: 360px;
  background-image: url(../images/top-image.png);
  position: relative;
  overflow: hidden;

}
.logo {
  height: 100%;
  width: 50%;
  background-image: url(../images/peralta-logo.png);
  position: absolute;
  left: 10px;
  top: 20px;
  background-repeat: no-repeat;


}

.column1of3. .column2of3. .column3of3
{
  width: 300px;
  float: left;
  margin: 10px;
  background-color: #efefef;
  z-index: 10;
  position: relative;
  top: 70px;
  left: 70px;

}

.imageContainer {
  border: 5px solid rgb(255,255,255);
  overflow: hidden;
  display: inline-block;
}


.lanceMountain {
  height: 220px;
  width: 330px;

}

.rodneyMullen {
  height: 220px;
  width: 330px;

}

.tommyGuerro {
  height: 470px;
  width: 326px;

}

.steveCaballero {
  height: 220px;
  width: 670px;

}

.boardImageContainer {
  border: 5px solid rgb(255,255,255);
  overflow: hidden;
  display: inline-block;
}
.sk8-1 {
  height: 260px;
  width: 60px;

}

.sk8-2 {
  height: 260px;
  width: 60px;

}
.sk8-3 {
  height: 260px;
  width: 60px;

}
.sk8-4 {
  height: 260px;
  width: 60px;

}

.sk8-5 {
  height: 260px;
  width: 60px;

}

.sk8-6 {
  height: 260px;
  width: 60px;

}
.sk8-7 {
  height: 260px;
  width: 60px;

}
.sk8-8 {
  height: 260px;
  width: 60px;
}
.sk8-9 {
  height: 260px;
  width: 60px;

}
